@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}
html, body, input{
    font-family: 'Roboto';
}
ul {
    list-style: none;
}

body {
    color: #E1E1E6;
    background-color: #1A1924;
}

header {
    background-color: #16151E;
}

.flex {
    display: flex;
}

.container{
    padding: 40px;
}

.items-center {
    align-items: center;
}

header h2 {
    font-size: 20px;
    line-height: 23px;
}

nav {
    justify-content: space-between;
}

nav ul {
    gap: 16px;
}

nav ul li {
    font-size: 24px;
}