@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: -1px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #232123;
    height: 100vh;
}

header {
    width: 100vw;
}
header h1 {
    color: white;
    padding: 0.5em;
}

nav#itens {
    display: none;
}

nav ul {
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.102);
    border-radius: 10px;
    padding: 1em;
    width: 90vw;
    margin: auto;
}

nav ul li {
    margin: 10px 0px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #9b06d0;
    transition: .5s;
}

.action_button {
    background-color: #9b06d0;
    width: fit-content;
    border-radius: 20px;
    padding: 0.5% 2%;
}

nav ul li.action_button:hover {
    scale: 1.075;
    transition: .5s;
}

nav ul li.action_button a:hover {
    color: white;
}

span.material-icons {
    display: inline-block;
    width: 100vw;
    background-color: #171517;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
}

/* HERO SECTION */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.registro {
    padding: 1em;
}
.registro h1 {
    color: white;
    font-size: 3em;
    line-height: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.207);
    margin-bottom: 20px;
}

.registro p {
    text-align: justify;
    color: white;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.destaque {
    color: #9b06d0;
}

/* INFO SECTION */
input#name {
    border-radius: 15px;
    font-size: 20px;
    padding: 1%;
    border: transparent;
    margin-bottom: 10px;
    width: 75vw;
}
input#email {
    border-radius: 15px;
    font-size: 20px;
    padding: 1%;
    border: transparent;
    margin-bottom: 10px;
    width: 75vw;
}
input#submit {
    border-radius: 15px;
    font-size: 20px;
    padding: 1%;
    border: transparent;
    background-color: #9b06d0;
    color: white;
    width: 150px;
}
.img_hero img {
    width: 90%;
}
