@charset "UTF-8";
/* ESTILO PARA TELAS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-family: Arial;
    letter-spacing: -0.5px;
}

header {
    background-color: lightgray;
}
header h1 {
    text-align: center;
    padding: 1em;
}
menu ul {
    list-style: none;
    background-color: gray;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    padding: 0.75em;
}

article {
    margin: auto;
}